
.site-heading-lower{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

}
.section-heading-lower{
    color: aliceblue !important;
}
.boopbop{
    font-style: italic !important;
}